
body {
    margin: 0;            /* Reset default margin */
}
player {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
video {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
.media-player .player-wraper {
    padding-bottom: 56%;
    background-color: #000;
    border-radius: 0 0 5px 5px;
    position: relative;
}
